script(type="text/javascript", src="../../../bower_components/underscore/underscore.js")
script(type="text/javascript", src="../../../bower_components/jquery/dist/jquery.js")
script(type="text/javascript", src="../../../bower_components/backbone/backbone.js")

script(type="text/javascript", src="../model/Blog.js")
script(type="text/javascript", src="../collection/BlogCollection.js")