doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Jasmine Spec Runner v2.0.0
    link(rel='shortcut icon', type='image/png', href='../../bower_components/jasmine/images/jasmine_favicon.png')
    link(rel='stylesheet', type='text/css', href='../../bower_components/jasmine/lib/jasmine-core/jasmine.css')

    script(src='../../bower_components/jasmine/lib/jasmine-core/jasmine.js')
    script(src='../../bower_components/jasmine/lib/jasmine-core/jasmine-html.js')
    script(src='../../bower_components/jasmine/lib/jasmine-core/boot.js')

    include ../main/jade/_template
    
    script(type='text/javascript', src='../../bower_components/jquery/dist/jquery.js')
    script(type='text/javascript', src='../../bower_components/underscore/underscore.js')
    script(type='text/javascript', src='../../bower_components/backbone/backbone.js')
    script(src='../../bower_components/jasmine-jquery/lib/jasmine-jquery.js')

    // include source files here...
    script(type="text/javascript", src="../main/model/Blog.js")
    script(type="text/javascript", src="../main/collection/BlogCollection.js")
    script(type="text/javascript", src="../main/view/BlogView.js")
    script(type="text/javascript", src="../main/view/BlogListView.js")

    // include spec files here...
    script(type="text/javascript", src="model/BlogSpec.js")
    script(type="text/javascript", src="collection/BlogCollectionSpec.js")
    script(type="text/javascript", src="view/BlogViewSpec.js")
    script(type="text/javascript", src="view/BlogListViewSpec.js")

  body
    include ../main/jade/_blogApp
    
